@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
    font-family: "JetBrains Mono", monospace;
}

body {
    background: black;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #2c3e50;
    border-radius: 0px;
    width: 100%;
    height: 5px;
    outline: 0;
    cursor: row-resize;
    margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    width: 10px;
    height: 15px;
    border-radius: 0%;
    cursor: ns-resize;
    transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2);
}
