* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
}

body {
    background: black;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1);
}
