@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://rsms.me/inter/inter.css");

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
    font-family: "JetBrains Mono", monospace;
    user-select: none;
}

body {
    background: black;
}

a {
    color: white;
    text-underline-offset: 6px;
    text-decoration: underline dotted white 2px;
}

svg {
    font-size: 32px;
}
svg:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: black;
    border-radius: 0px;
    width: 100%;
    height: 10px;
    outline: 2px dotted white;
    cursor: row-resize;
    margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    width: 10px;
    height: 15px;
    border-radius: 0%;
    cursor: ns-resize;
    transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2);
}
